/**
 * wireframe easy homework 
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background: #777;
	color:#ebebeb;
	width:960px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  section: 495px;
}

nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  section: 495px

}

section {
  padding: 10px;
  color: #green;
  background: #green;
  text-align: left;
  width: 49%;
  height: 49%;
}
aside {
  padding: 20px;
  color: #333;
  background: #aaa;
  float: right;
  width: 30%
  height:49%;
}

article {
  padding: 10px;
  background: #777;
  color:#ebebeb;
  box-sizing: border-box;
  text-align: right;
  section: 495px
}

h1, h2, h3 {
   section: 495px
}


footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  float: center;
}