/**
 * wireframe easy homework 
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background: #777
	Content:#ebebeb
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  body:960px;
  section: 495px
}

nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  section: 495px

}

section {
  padding: 10px;
  color: #green;
  background: #green;
  text-align: left;
  width: 50%;
  section: 495px
}
aside {
  padding: 20px;
  color: #333;
  background: #ccc;
  text-align: right;
  width: 50%
  section: 495px
}

article {
  padding: 10px;
  color: #333;
  background: #ccc;
  box-sizing: border-box;
  text-align: right;
  section: 495px
}

h1, h2, h3 {
   section: 495px
}


aside {
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}